@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Nunito+Sans:wght@200&family=Outfit&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

:root{
    --GRAY: hsla(0, 0%, 100%, 0.75);
    --WHITE: hsl(0, 0%, 95%);
    --ORANGE:hsl(31, 77%, 52%);
    --GREEN:hsl(184, 100%, 22%);
    --GDARK: hsl(179, 100%, 13%);
}
body{
    color: var(--GRAY);
    background-color: var(--WHITE);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    
}
.container{
   position: fixed;
   top: 50%;
   left: 50%;
   /* bring your own prefixes */
   transform: translate(-50%, -50%);
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    height: 350px;
    width: 700px;
  
    flex-wrap: nowrap;
 

}
.container .box1{
    background-color: var(--ORANGE);
    border-radius: 5px 0 0 5px;
    padding:15px;
    
    
}
.container .box2{
   background-color: var(--GREEN);
   padding:15px;
    


}
.container .box3{
   background-color: var(--GDARK);
   border-radius: 0 5px 5px 0;
   padding:15px;
    

}
h1{
    text-transform: uppercase;
    color: var(--WHITE);
    margin-bottom:10px;
 }

 button{
    margin-top:40%;
    height:40px;
    width:60%;
    color: var(--WHITE);
    border-radius: 50px;
    border:none;


 }

 .container .box1 .btn1{
    color: var(--ORANGE);
 }
 .container .box2 .btn2{
    color: var(--GREEN);
 }
 .container .box3 .btn3{
    color: var(--GDARK);
 }

 @media only screen and (max-width: 600px) {
   
   .container{
      position: absolute;
      margin-top:200px;
      margin-bottom: 500px;
      margin-left: 20px;
      flex-direction: column; 
      top:50%;
      max-width: 330px;
      max-height: 500px

   }
   .container .box1{
      border-radius: 5px 5px 0 0;
     padding:50px;
}
   .container .box2{
     padding:50px;
}
   .container .box3{
      border-radius: 0 0 5px 5px;
      padding:50px;
   }
   button{
      margin-top:10%;
      height:40px;
      width:60%;
      color: var(--WHITE);
      border-radius: 50px;
      border:none;
  
  
   }

 }
